<h1>Tasks</h1>

<form action="{% url 'todo_list' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="create" value="Create" />
</form>

<h3>To Do:</h3>
<ul>
    {% for task in tasks %}
        <li><a href="{% url 'task' task.id %}">{{ task.description }}</a></li>
    {% endfor %}
</ul>

<h3>Complete:</h3>
<ul>
    {% for task in tasks %}
    {% if task.completed == 1 %}
        <li><a href="{%url 'task' task.id %}">{{ task.description }}</a></li>
    {% endif %}
    {% endfor %}
</ul>


<a href="{% url 'notes' %}">Go to notes page</a>